<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script src="app.js"></script>
<link href="app.css" type="text/css" />
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
  <div ng-app="myApp" ng-controller="myCtrl">
  <form name="songForm">
    <div class="form-group">
      <label>Spotify search:</label>
      <input name="search" ng-minlength=3 placeholder="Enter your search.." ng-model="track" class="form-control" required></input>
    <p class="help-block" ng-show="songForm.search.$error.minlength">Enter 3+ characters</p>
    </div>
    <div class="form-group">
      <button ng-disabled="songForm.search.$invalid" class="btn btn-primary" ng-click="getSongs()" type="submit">Submit</button>
    </div>
  </form>
  <div>
      <div class="container-fixed">
        <p ng-show="tracks.length>0" class="help-block">Click to sample</p>
        <div ng-class="track.preview_url == currentSong ? 'playing' : ''"  ng-repeat="track in tracks" class="col-xs-4 img"><img ng-click="play(track.preview_url)" title="{{track.name}}" src="{{track.album.images[1].url}}"></img></div>
    </div>
    </div>
  </div>
  </div>
</body>
</html>